In [62]:
import pandas as pd 
df = pd.read_csv("listings.csv")

In [63]:
df = df[['host_id','number_of_reviews','neighbourhood_cleansed','host_acceptance_rate','host_response_rate','room_type','amenities',"price",'host_verifications',"bathrooms_text"]]

In [64]:
df["amenities"]=df["amenities"].apply(lambda x: x.count(",")+1)

df['price']=df['price'].str.replace('$','')
df['price']=df['price'].str.replace(',','')
df['price']=df['price'].astype(float)

indexNames = df[ df['price'] == 0 ].index

df=df.drop(index=indexNames)

df["bathrooms_text"] = df["bathrooms_text"].str.lower()
df["bathrooms_text"] = df["bathrooms_text"].str.replace('shared half-bath','1 shared half-bath')
df["bathrooms_text"] = df["bathrooms_text"].str.replace('private half-bath','1 private half-bath')
df["bathrooms_text"] = df["bathrooms_text"].str.replace('half-bath','1 half-bath')
df["bathrooms_text"].value_counts()
df[['number','type']] = df["bathrooms_text"].str.split(' ', 1, expand=True)
df["number"]=df["number"].astype(float)
df=df.dropna()

/tmp/ipykernel_37441/2384635024.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['price']=df['price'].str.replace('$','')
/tmp/ipykernel_37441/2384635024.py:16: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['number','type']] = df["bathrooms_text"].str.split(' ', 1, expand=True)

In [65]:
df['type'].value_counts()

bath                   3867
baths                  1510
shared bath             718
private bath            661
shared baths             91
shared 1 half-bath       13
half-bath                 6
private 1 half-bath       4
Name: type, dtype: int64

Calculez le nombre d’hosst et le nombre de review par quartier. (
neighbourhood_cleansed)?

In [ ]:
df_neighbourhood_cleansed = df[['host_id','number_of_reviews','neighbourhood_cleansed']]
df_neighbourhood_cleansed.groupby(by="neighbourhood_cleansed").count()

                        host_id  number_of_reviews
neighbourhood_cleansed
3M-Bourgailh                 10                 10
Ambars-et-Lagrave            69                 69
Ambs                         57                 57
Arago-La Chataigneraie       58                 58
Arlac                        98                 98
...                         ...                ...
Sardine                      21                 21
Talence                     494                494
Toctoucau                    18                 18
Verthamon                    26                 26
Villenave-d'Ornon           320                320

[62 rows x 2 columns]

Quels sont les pourcentage d’acceptation et de réponse moyen des hosts?

In [ ]:
df_acce_rate =df['host_acceptance_rate']
df_reponse_rate =df['host_response_rate']
print(df_acce_rate )
print(df_reponse_rate)

0         99%
1        100%
2         95%
3         78%
4        100%
         ...
10880     NaN
10881     90%
10882    100%
10883    100%
10884     NaN
Name: host_acceptance_rate, Length: 10883, dtype: object
0        100%
1        100%
2         NaN
3        100%
4        100%
         ...
10880     NaN
10881    100%
10882    100%
10883    100%
10884     NaN
Name: host_response_rate, Length: 10883, dtype: object

Quel pourcentage des hosts on une vérification

In [ ]:
from ast import literal_eval

def pourcentage_moyen_vérification(df):
    serie_verification =df['host_verifications']
    serie_length =serie_verification.size
    n_email = 0
    n_telephone = 0
    n_work_email = 0

    for valitation in serie_verification:
        val = literal_eval(valitation)
        for ele in val:
            if ele == 'email':
                n_email+=1
            elif ele == 'phone':
                n_telephone+=1
            elif ele == 'work_email':
                n_work_email+=1
    pourcen_telephone = n_telephone/serie_length 
    pourcen_email = n_email/serie_length
    pourcen_work_mail = n_work_email/serie_length

    # print(pourcen_telephone,pourcen_email,pourcen_work_mail)

    print("le pourcentage de validation par n_email est {0:.2f}".format(pourcen_email))
    print("le pourcentage de validation par n_telephone est {0:.2f}".format(pourcen_telephone))
    print("le pourcentage de validation par n_work_email est {0:.2f}".format(pourcen_work_mail))

pourcentage_moyen_vérification(df)

KeyError: 'host_verifications'

En fonction du type de room, calculez le nombre moyen d’amenities et l'écart type.

In [ ]:
df_room = df[["room_type","amenities"]]
df_room.groupby(by="room_type").agg(["mean","std"])

NameError: name 'df' is not defined

Quel est le prix median par type de room, le maximum, le minimum, le premier et le troisième quartile?

In [ ]:
df_price =df[["room_type","price"]]
df_price.groupby('room_type').describe()

In [53]:
df['Type'].value_count()

AttributeError: 'Series' object has no attribute 'value_count'

Combien y-a-t-il d’annonces par "valeur de salle de bain". (0.25 / 0.5 / 1 / 1.5 ….)

In [ ]:
dic={'bath':1, 'private':2, 'half':0.5, 'shared':0.5}

In [49]:
df['Type'] =df['Type'].apply(lambda x : "1" if x=="bath"  elif x=="private" "2" elif x==half 0.5 elif x==shared   )

for i in df['Type']:
    print (i)

SyntaxError: expected 'else' after 'if' expression (3269391638.py, line 1)

In [40]:
import numpy as np

dic={'bath':1, 'private':2, 'half':0.5, 'shared':0.5}
points = lambda number,bath_type : number * np.array([dic[key] for key in list(dic.keys()) if key in bath_type]).prod()
df["points"] = df[['Number','Type']].apply(lambda x : points(x[0],x[1]), axis=1)
df.groupby('points').points.count()

points
0.00      33
0.25      13
0.50     724
0.75      40
1.00    3890
1.25      14
1.50     324
2.00    1471
2.50     115
3.00     154
3.50      24
4.00      39
4.50       4
5.00      14
5.50       3
6.00       2
6.50       2
7.00       1
7.50       1
8.00       2
Name: points, dtype: int64